html {
    font-family: 'Roboto';
}
a {
    text-decoration: none;
    color:white;
}

body {
    max-width: 1600px;
    min-width: 1600px;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;

}

/* header */
nav {
    margin-right: 13%;
    width: 50%;
}

/* .nav__li :nth-child(1) {
    color: #fa833f
} */

.header__black {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.8% 13.7%;
}

.header__wrapper {
    background-image: url(../../assets/Fonts/Giant\ Panda.png);
    padding-bottom: 6.3%;
    background-size: cover;
}


.nav__li {
    color: white;
    list-style-type: none;
    font-size: 16px;
}

.nav__li {
    padding-right: 1%;
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    gap: 7.3%;

}

.header__url {
    text-decoration: none;
    color: white;
    margin-top: 1.4%;
    margin-left: 13%;
    font-size: 16px;
}

/* favorite__animal */

.favorite__animal li {
    font-size: 106px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 0;
}

.favorite__animal ul {
    margin-bottom: 10%;
    margin-right: -15%;
}

.favorite__animal :nth-child(1) {
    padding-top: 5.5%;
}

.favorite__animal :nth-child(3) {
    color: yellow
}


.favorite__animal li {
    list-style-type: none;
    padding-top: 0;
}

.favorite__animal {
    background-image: url(../../assets/img/Ellipse\ 6.png);
    background-repeat: no-repeat;
    margin-right: 17%;
    margin-top: 0.6%;
}

.animal__wrapper {
    display: flex;
    justify-content: flex-end;
}

.button__wrapper {
    display: flex;
    justify-content: end;
    margin-right: 20%;
    margin-top: 0.5%;
}

.favorite__animal__button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    height: 54px;
    width: 298px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: white;
    text-align: center;
    padding-left: 2%;
    border: none;
}


/* Backstage */

.Backstage__wrapper {
    display: flex;

}

.Backstage__wrapper :nth-child(1) {
    margin: 2%;
    padding-left: 8%;
    padding-top: 4.3%;

}

.Backstage__text {
    width: 33%;
    padding-left: 4%;
    padding-top: 7%;
}

.Backstage__text h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 119%;
    letter-spacing: 0;
}

.first__par {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    width: 90%;
    padding-left: 9.4%;
    padding-top: 0.5%;
}

.Backstage__text h2 {
    padding-top: 6.89%;
    padding-left: 9.6%;

    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.second__par {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.second__par {
    padding-top: 2.2%;
    padding-left: 10%;
    width: 89%;
}


/* Pets */
.Pets {
    margin-top: 7%;
}

.about__pet {
    margin-left: 4%;
}

.firs__line {
    display: flex;
    justify-content: center;
    gap: 1.7%;
}

.firs__line img {
    border-radius: 2%;
}

.firs__line h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 0%;
}

.firs__line p {
    line-height: 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 1%;
}

.Pets__icon {
    margin-left: 2%;
}

.flex__about__pet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* .panda__hover {
    display: none;
}
.panda__img__hover{
    cursor: pointer;
}

.panda__img__hover:hover + .panda__hover {
    display: block;
} */

.panda {
    border-style: solid;
    border-color: #fa833f;
    border-radius: 2%;

}

.eagle {
    border-style: solid;
    border-color: #fa833f;
    border-radius: 2%;

}

.gorila {
    border-style: solid;
    border-color: #fa833f;
    border-radius: 2%;

}

/* arrow */
.arrow {
    display: flex;
    justify-content: space-around;
    gap: 58%;
}

.first__arrow {
    margin-top: -1.6%;
}

.second__arrow {
    margin-top: -1.6%;

}

/* second__line */

.second__line {
    display: flex;
    justify-content: center;
    gap: 1.7%;
}

.second__line img {
    border-radius: 2%;
}

.Two_toed_Sloth {
    border-style: solid;
    border-color: #fa833f;
    border-radius: 2%;
}

.cheetahs {
    border-style: solid;
    border-color: #fa833f;
    border-radius: 2%;
}

.Penguins {
    border-style: solid;
    border-color: #fa833f;
    border-radius: 2%;
}

.second__line {
    display: flex;
    justify-content: center;
    gap: 1.7%;
    margin-top: -1.4%;
}

.second__line h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 0%;
}

.second__line p {
    line-height: 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 1%;
}

/* Pets__button */

.Pets__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    height: 54px;
    width: 298px;
    background: rgba(254, 144, 19, 1);
    border-radius: 25px;
    color: white;
    border: none;
}

.Pets__button__flex {
    display: flex;
    justify-content: center;
    margin-top: 4.9%;
}

.Img_bottom {
    display: flex;
    justify-content: space-between;
}

.palm_foto {
    margin-top: -22%;
}

.strelitzia {
    margin-top: -9%;
}

/* Pick and feed a friend */

.Pick_and_feed_a_friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 0;
    margin: 0%;
    padding-bottom: 6%;
}

.pick__text {
    padding-top: 1%;
    /* background-color:#fee7d3; */
}

.pick__text h1{
    color:#FE9013;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}
.pick__text h2{

font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
padding-right: 11.1%;
text-align: center;

}

.par__n1 p {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.24px;
    text-align: left;
    padding-left: 8.2%;
    padding-top: 0.8%;

}
.par__n2 {
    padding-right: 15%;
    padding-left: 8%;  
}

.par__n2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
}
.par__n2 a {
    text-decoration: none;
    color:black

}

/* how__works */

.how__works h3 {
  
font-size: 36px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
}

.how__works {
    padding-top: 0.5%;
}

/* img__works */

.img__works {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2.55%;
    padding-top: 0.5%;
}

.arrow__works {
    padding-bottom: 7.8%;
    
}

.how__works__button {
    height: 54px;
    width: 298px;
    border-radius: 25px;
    background-color:#F9804B;
    border:none;
    color: white;
    font-size: 18.5px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}
.how__works__button__flex {
    display: flex  ;
    justify-content: center;
    padding-top: 4.6%;
}

.how__works__wrapper {
    height: 835px;
    width: 1160px;
    border-radius: 20px;
    background-color:rgba(253, 253, 255, 0.52);
    display: inline-block;
    margin-top: 3.7%;
    margin-left: 13.8%;
}

.Testimonials h3 {
font-size: 36px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
padding-top: 6.4%;
}

.Testimonials__photo {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 0.8%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 3px;
    border-style: solid ;
    border-radius: 25px;
    border-color:#f9b187;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition:  .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 110px;
    height: 5px;
    border-radius: 10%; 
    background-image:url(../../assets/icon/line_scrol2.png);
    cursor: pointer;
  }
  

  .slidecontainer {
    display: flex;
    justify-content: center;
    padding-top: 1.1%;
    padding-left: 8.6%;
  }

  /* testimonial__button */

  .testimonial__button {
    height: 54px;
    width: 298px;
    border-style:none;
    border-radius:2%;
    background-color:#F9804B;
    color:white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

  }

  .button__testimonial {
    padding-top: 1.7%;
    padding-left: 13.6%;
  }
 
  .button__testimonial {
    display: flex;
    justify-content: space-between;
  }
  .Testimonials__leav {
    margin-top: -3%;
  }


  /* footer */

  .footer__wrapper {
    background-color:  rgba(17, 17, 21, 1);
    margin-top: -8%;
    padding-bottom: 7%;
}
  
  .footer__input label {
    color:white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -6%;
 
  }

  .footer__top input {
    height: 35px;
    width: 219px;
    border-radius: 0px;
    background-color: #f000;
    border-color: #fa833f;
    margin-top: 5%;

}
  

  .input__button button {
    background-color: linear-gradient(0deg, #333B41, #333B41),linear-gradient(0deg, #F1F3F2, #F1F3F2);
    height: 42px;
    width: 129px;
    border-radius: 5px;
    margin-top: 8%;
  }

  .footer__top {
    display: flex;
    justify-content: space-around;
  }

  .footer__input {
    display: flex;
    flex-direction: column
  }

  .input__button {
    display: flex;
  }


/* middle__footer */

.footer__top img {
    height: 52px;
    width: 82px;
    
}

.middle__footer button {
    background-color:rgba(249, 128, 75, 1);
    height: 54px;
    width: 298px;
    color:white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.footer__li li {
    color:#d3d3d3;
    list-style-type: none;
}

.footer__top img{
    padding-right: 17%;
    padding-top: 2.4%;
}

.input__button {
    padding-top: 3.4%;
}


/* midle */

.middle__footer  {
    padding-left: 13.7%;
    padding-top: 2.3%;
}


/* bottom footer */

.social__media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    gap: 2%;
}

.footer__li {
    margin-left: 11%;
    width: 164%;
    display: flex;
    flex-wrap: wrap;
    gap: 9.6%;
}

.bottom__footer {
    display: flex;
    align-items: end;
    gap: 17%;
    padding-top: 2.6%;
    padding-left: 13.6%;
}

.social__media img:nth-child(1) {
    margin-bottom: 9%;
}
.social__media img:nth-child(2) {
    margin-bottom: 9%;
}
.social__media img:nth-child(3) {
    margin-bottom: 9%;
}
.social__media img:nth-child(4) {
    margin-bottom: 17%;
}

.description p {
    color: #d3d3d3;
    text-align: end;
    padding-right: 14%;
    padding-bottom: 59px;
    margin-top: -4%;
}

